.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid lightgray;
}
.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-bottom: 16px;
  margin-top: 5px;
  padding: 2px;
  /* border-color: #a88734 #9c7e31 #846a29; */
  color: #111;
}

.checkoutProduct__info > button:hover {
  cursor: pointer;
  background-color: #f5b923;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  margin: 10px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 15px;
  font-weight: 650;
}

@media only screen and (max-width: 550px) {
  .payment {
    margin-top: 50px;
  }
  .checkoutProduct {
    flex-direction: column;
  }
}
