.header {
  height: 60px;
  min-width: 400px;
  display: grid;
  grid-template-columns: 1fr 7fr 4fr;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
}

.left__nav {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 15px;
  padding-right: 10px;
  margin-top: 18px;
  /* background-color: cyan; */
}
.header__search {
  display: flex;
  flex: 1;
  position: relative;
  /* position: absolute; */
  align-items: center;
  border-radius: 24px;
  height: 100%;
}

.header__searchInput {
  height: 12px;
  padding: 0.6rem;
  border: none;
  width: 100%;
  height: 30px;
}

.header__searchIcon {
  padding: 5px;
  height: 31px !important;
  background-color: #daa561;
  cursor: pointer;
}
.header__searchIcon:hover {
  background-color: #f8b65f;
}

/* rigt nav header */
.header__nav {
  display: flex;
  align-items: center;

  /* justify-content: space-evenly; */
  justify-content: space-between;
  /* padding: 0 15px; */
}

.header__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 10px;
  margin-right: 10px; */
  color: white;
}
.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;

  align-items: center;
  color: white;
  justify-content: center;
  padding: 0 8px;
  /* margin-top: 5px; */
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
.BasketIcon {
  font-size: 2.5rem;
}

.burger {
  display: inline;
  cursor: pointer;
  padding-left: 10px;
}
.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 3px;
}
@media only screen and (max-width: 950px) {
  .header {
    grid-template-columns: 1fr 6fr 5fr;
  }
}
@media only screen and (max-width: 765px) {
  #option__order {
    display: none;
  }
  #option__prime {
    display: none;
  }
  /* .burger {
    display: inline;
  } */
}
.header__nav {
  justify-content: space-evenly;
}

@media only screen and (max-width: 550px) {
  .header {
    display: block;
  }
  .header__search {
    background-color: #131921;
    border-radius: unset;
    padding: 10px 20px;
  }
  .leftnav {
    float: left;
    top: 0;
    position: fixed;
  }
  .header__nav {
    align-items: center;
    position: absolute;
    float: right;
    top: 12px;
    right: 10px;
  }
}
