.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 5px;
  padding: 1.2rem;
  padding: 20px;
  background-color: white;
  /* border: 2px solid rgb(247, 247, 247); */
  z-index: 1;
  width: 90%;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 180px;
  max-width: 50%;
  object-fit: contain;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  padding: 4px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}
.product__btn {
  display: none;
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  padding: 4px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  width: 112px;
  margin: auto;
}
.product__price {
  margin-top: 5px;
}

.product__info {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 15px;
}

@media only screen and (max-width: 910px) {
  .product__btn {
    display: inline;
  }
  .product > button {
    display: none;
  }
  .product {
    flex-direction: row;
  }
}
